@media only screen and (min-width: 960px){
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
/* header */

header{
    width:88%;
   
    margin:0 auto;
    padding:45px 0;
}
.notFound{
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size:1rem;
}
/* hero section */

.hero{
    width:88%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 76px auto;
   
    padding:30px 0;
}
.scarecrow-img{
  width:50%  
}
.scarecrow-img img{
    width:90%;
}
.hero-content{
    width: 46%;
    font-family: 'Space Mono';
}
.hero-content h2{
   font-size:3.5rem;
   font-weight: 700;
   line-height: 1.5;
   color:#333;
}
.hero-content p{
    font-size:1.5rem;
    width:75%;
    line-height: 1.5;
    margin:30px 0 55px 0;
    color:#333;
}
.button{
    font-family: 'Space Mono';
    padding:25px 35px;
    width:40%;
    background-color: #333;
    color:#fff;
    border:none;
}
footer{
    text-align: center;
    color:#bdbdbd;
    font-family:"Montserrat";
}
}
    @media only screen and (max-width: 500px) {

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size:12px;
} 


header{
    width:85%;
    margin:0 auto;
    padding:20px 0;
    
}


 .notFound{
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size:1rem;
} 

 .hero{
    width:85%;
    display: flex;
    flex-direction: column;
    margin:20px auto;
    padding:50px 0;
} 
.scarecrow-img{
    margin-bottom: 20px;

}
.scarecrow-img img{
    width:90%;
    
}

.hero-content{
    font-family: 'Space Mono';  
    padding: 30px 0 0;
}
.hero-content h2{
    font-size:3.5rem;
    font-weight: 700;
    line-height: 1.5;
    color:#333;
 }
 .hero-content p{
     font-size:1.6rem;
     
     line-height: 1.8;
     margin:30px 0 55px 0;
     color:#333;
 }
 .button{
     font-family: 'Space Mono';
     padding:25px 35px;
     
     background-color: #333;
     color:#fff;
     border:none;
 }
 footer{
     text-align: center;
     color:#bdbdbd;
     font-family:"Montserrat";
 }


}